.booking-header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 400px;
    background-color: powderblue;
    display: flex;
}

.booking-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reservation-section {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.reservation-heading {
    width: 500px;
}

.arrow-left {
    color: var(--charcoal);
    float: left;
    font-size: 0.9em;
}
