.confirm {
    display: flex;
    justify-content: center;
}

.bookingConfirmation,
.dateDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
}


.checkIcon {
    margin-top: 0;
    color: var(--green);
}

.fullName {
    font-size: 1.5em;
    font-weight: 200;
    margin-bottom: 30px;
}

.dateDescription {
    font-weight: 500;
}

.button {
    margin-top: 30px;
}