.scroll-to-top-btn {
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: var(--yellow);
    color: var(--charcoal);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .scroll-to-top-btn {
        right: 70px;
        bottom: 50px;
    }
}