.specials-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

.slick-prev:before{
/* background-color: blue !important; */
width: 30px;
height: 30px;
content: '' !important;
position: absolute;
top: -11px;
left: -11px;
background-image: url('/src/images/left-arrow.svg');
background-repeat: no-repeat;
vertical-align: middle;
background-size: 30px;
opacity: 1 !important;
}

.slick-next:before{
/* background-color: blue !important; */
width: 30px;
height: 30px;
content: '' !important;
position: absolute;
top: -11px;
left: 0px;
background-image: url('/src/images/right-arrow.svg');
background-repeat: no-repeat;
vertical-align: middle;
background-size: 30px;
opacity: 1 !important;
}

.slick-slide > div {
  margin: 0 10px;
}

.feature-dishes {
  margin-top: 40px;
}

.dish-price {
  color: var(--salmon);
  font-weight: 600;
}

.specials img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 155px;
  object-fit: cover;
}

.specials p {
  margin-top: 20px;
}

.card-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 20px;
}

.delivery-icon {
  vertical-align: middle;
}

  
  /* ---- RESPONSIVE DESIGN ---- */
@media only screen and (max-width: 1300px) {
    section {
      padding: 100px 150px;
    }
}
  
  
@media only screen and (max-width: 1060px) {
    section {
      padding: 100px 100px;
    }
  
}
  
  
@media only screen and (max-width: 960px) {
    section {
      padding: 100px 50px;
    }
}
  
  
@media only screen and (max-width: 860px) {
    section {
      padding: 100px 50px;
    }
}
  
  
@media only screen and (max-width: 600px) {
    section {
      padding: 50px 20px;
    }

    .specials-header {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .specials-header h3 {
      margin-bottom: 10px;
    }
      
    .specials img {
      width: 100%;
      height: 200px;
    }
}
