@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #495e57;
  --yellow: #f4ce14;
  --salmon: #ee9972;
  --peach: #fbdabb;
  --light-gray: #edefee;
  --charcoal: #333333;
}

body {
  background: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Markazi Text', sans-serif;
}

h1 {
  font-size: 64pt;
}

h2 {
  font-size: 40pt;
}

h3 {
  font-size: 28pt;
}

h4 {
  font-size: 18pt;
}

p {
  font-family: 'Karla', sans-serif;
  size: 1em;
  line-height: 1.5;
  max-width: 65ch;
}

q {
  font-family: 'Karla', sans-serif;
  font-style: italic;
  font-size: 0.9em;
  line-height: 1.5;
}

section {
  padding: 100px 290px
}

section h3 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 40px;
}

nav {
  font-family: 'karla', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
}

nav > ul {
  list-style: none;
}

nav > ul > li > a {
  text-decoration: none;
}

.button {
  background: var(--yellow);
  padding: 12px 30px;
  border-radius: 10px;
  color: var(--charcoal);
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'karla', sans-serif;
  font-weight: 700;
  white-space: nowrap;
}

.card {
  background: var(--light-gray);
  border-radius: 10px;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-body {
  padding: 30px;
}

.card-link {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.card-body a {
  color: var(--charcoal);
  font-family: 'Karla', sans-serif;
  font-weight: 800;
  text-decoration: none;
}


/* ---- RESPONSIVE DESIGN ---- */
@media only screen and (max-width: 1300px) {
  .top-bar,
  header {
    padding: 30px 150px;
  }

  section {
    padding: 100px 150px;
  }

  footer {
    padding: 70px 150px;
  }
}

@media only screen and (max-width: 1060px) {
  .top-bar,
  header {
    padding: 30px 100px;
  }

  section {
    padding: 100px 100px;
  }

  footer {
    padding: 70px 100px;
  }
}


@media only screen and (max-width: 960px) {
  .top-bar,
  header {
    padding: 30px 50px;
  }

  section {
    padding: 100px 50px;
  }

  footer {
    padding: 70px 50px;
  }
}


@media only screen and (max-width: 860px) {
  .top-bar,
  header {
    padding: 30px 50px;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .top-bar,
  header {
    padding: 30px 20px;
  }
}